.roster-grid-container.all-teams {
  display: grid;
  padding-top: 70px;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
  width: 100%;
  height: 100vh;      
  overflow-y: auto; 
  box-sizing: border-box;
  height: calc(100vh - 80px);
  overflow-y:auto;
}

.team-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  background-color: #1D428a;
  color: #f8f8f8;
}

.team-name {
  font-weight: bold;
  font: "Helvetica";
  font-size: 1rem;
  margin-bottom: 5px;
  flex-shrink: 0;
}

.roster-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  gap: 4px;
}

.player-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  background-color: #f0f0f0;
  border-radius: 6px;
  text-align: center;
  box-sizing: border-box;
}

.player-card img.player-image {
  width: 80%;
  height: auto;
  border-radius: 50%;
}

.player-card.revealed img.player-image {
  width: 90%;
  height: auto;
  border-radius: 50%;
}

.player-card .player-name {
  margin-top: 4px;
  font-size: 0.65rem;
  word-break: break-word;
  color:black;
}

.player-card .placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  margin: 5px;
  color:black;

}

.player-card .placeholder-image {
  width: 40px;
  height: 40px;
}

.player-name {
  font-weight: bold;
}

.roster-grid-container.single-team {
  width: 100%;   
  height: auto;
  background-size: cover;
  background-position: center;
}

.roster-grid-container.single-team .roster-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 12px;
  width: 100%;
  box-sizing: border-box;
}



/*for mobile*/
@media (max-width: 768px) {
.roster-grid-container.all-teams {
  display: grid;
  /* change to row display for teams */
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 12px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}


  .team-card {
    padding: 4px;
    font-size: 0.85rem;
  }

  .team-name {
    font-size: 0.85rem;
  }

  .roster-grid-container.single-team .roster-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 6px;
  }

  .player-card .player-name {
    font-size: 0.6rem;
  }

  .player-card {
    padding: 2px;

  }

  .player-card img.player-image {
    width: 48px;
    height:48px;
    object-fit:cover;
  }
    .player-card .player-name {
    font-size: 0.6rem;
    margin-top: 2px;
  }

  .player-card .placeholder {
    height: 50px;
    width: 50px;
    color:black;
  }

  .player-card .placeholder-image {
    width: 32px;
    height: 32px;
  }

  .player-card.revealed img.player-image {
  width: 90%;
  height: auto;
  border-radius: 50%;
    }
}

